.product-card {
    align-items: center;
    width: 40%;
    width: max-content;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: auto;
    border-radius: 20px;
    /*border:solid;*/
    border-color: #1e1e1e;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;

}

.product-card-address{
    margin-bottom: 0px;
    font-size: 0.9rem;
    transform: scale(0.9);
}

.product-card-image {
    width: 30px;
    padding: 5px;
    display: inline-block;
}

.product-card__info {
    display: inline-block;
    background-color: #1e1e1e;
    padding: 10px;
    color: white;
    width: 250px;
}

.product-card__info_black {
    /*background: rgb(17, 15, 15);*/
    background: -webkit-linear-gradient(45deg, rgba(45, 42, 42, 0.8799894957983193) 11%, rgba(0, 0, 0, 0.9164040616246498) 53%, rgba(80, 80, 80, 1) 78%);
    /*background: linear-gradient(45deg, rgba(17, 15, 15, 0.8799894957983193) 10%, rgba(0, 0, 0, 0.9164040616246498) 62%, rgba(42, 42, 42, 1) 88%);*/

    background: rgb(18, 17, 17);
    background: -webkit-linear-gradient(45deg, rgba(18, 17, 17, 0.8799894957983193) 11%, rgba(0, 0, 0, 0.9164040616246498) 53%, rgba(62, 62, 62, 1) 82%);

    background: linear-gradient(45deg, rgba(18, 17, 17, 0.8799894957983193) 11%, rgba(0, 0, 0, 0.9164040616246498) 53%, rgba(62, 62, 62, 1) 82%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.product-card__info_red {

    background: rgb(147, 79, 89);
    background: linear-gradient(45deg, rgba(147, 79, 89, 1) 19%, rgba(128, 44, 56, 1) 47%, rgba(104, 23, 35, 1) 72%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}

.product-card__info_white {
    background: rgb(75, 75, 75);
    background: linear-gradient(45deg, rgba(75, 75, 75, 1) 3%, rgba(230, 230, 230, 1) 47%, rgba(94, 94, 94, 1) 90%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    color: #191919;

}

.product-card__info_hood {
    background: rgb(179, 179, 179);
    background: linear-gradient(135deg, rgba(179, 179, 179, 1) 0%, rgba(80, 80, 80, 1) 17%, rgba(33, 33, 33, 1) 38%, rgba(27, 27, 27, 1) 82%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}

.product-card__id {
    text-align: left;
    width: fit-content;
    width: 200px;
    font-family: 'Poppins', sans-serif;
}

.product-card__price {
    width: fit-content;
    font-size: 0.9rem;
}

.product-card__price__key {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
}

.consumer-screen1-grid-item {
    display: inline-block;
}

.consumer-screen1-grid-item-1 {
    position: relative;
    top: -10px;
    display: inline-block;
}

.product-card__X {
    display: inline;
    font-size: 1.2rem;
}

.product-card__quantity {
    display: inline;
    font-size: 1.1rem;
    padding: 0px 0px 0px 10px;
}

.product-card-col2 {
    width: 40px;
}

.product-card__id__id {
    font-size: 0.9rem;
}

@media only screen and (max-width: 337px) {

    .product-card {
        transform: scale(0.9);
    }
}

@media only screen and (max-width: 305px) {

    .product-card {
        transform: scale(0.7);
    }
}



